.group-icon {
  position: absolute;
  height: 89.17%;
  width: 57.25%;
  top: 5.47%;
  right: 41.07%;
  bottom: 5.37%;
  left: 1.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon1 {
  position: absolute;
  height: 52.92%;
  width: 35.35%;
  top: 34.15%;
  right: 1.72%;
  bottom: 12.93%;
  left: 62.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.stone-stoneentrega-prancheta-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 140.6px;
  height: 24px;
  overflow: hidden;
}
.stone-stoneentrega-prancheta-1-wrapper {
  width: 140.6px;
  position: relative;
  height: 24px;
}
.button-text {
  position: relative;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Sharon Sans Medium';
}
.button-text2 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.content {
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.z-master {
  flex: 1;
  border-radius: 32px;
  background-color: #00a868;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  font-family: 'Sharon Sans';

}
.regularprimarydefault {
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.group-parent {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 90px;
  height: 73px;
}
.respeitamos-o-seu {
  align-self: stretch;
  position: relative;
  line-height: 56px;
  font-weight: 900;
}
.respeitamos-o-seu1 {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  line-height: 28px;
  font-family: 'Sharon Sans Regular';
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 48px;
  font-family: 'Sharon Display';
}
.contactless-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.entregas-locais-e-nacionais-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.service {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.suporte-rpido-e {
  position: relative;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Sharon Sans Medium';
}
.suporte-rpido-e-eficiente-wrapper {
  position: relative;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Sharon Sans Medium';
}
.line1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.x {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.shield-cash-icon {
  width: 23px;
  position: relative;
  height: 23px;
  overflow: hidden;
  flex-shrink: 0;
}
.seguro-de-carga-wrapper {
  position: relative;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Sharon Sans Medium';
}
.delivery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.rtbs {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.content3 {
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.z-master1 {
  border-radius: 32px;
  background-color: #00a868;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 13px 24px;
  font-family: 'Sharon Sans';
}
.largeprimarydefault {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.ou-mande-um {
  position: relative;
  line-height: 20px;
  font-family: 'Sharon Sans';
}
.entregastonecombr {
  position: relative;
  line-height: 32px;
  font-family: 'Sharon Sans Medium';
}
.entregastonecombr-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 24px;
  color: #00a868;
}
.ou-mande-um-e-mail-agora-parent {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 14px;
  color: #20252a;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
  color: #fff;
}
.content2 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 24px;
  gap: 32px;
}
.img-container {
  width: 45%;
  height: 100%;
  overflow: hidden;
}
.img-container img {
  width: auto;
  height: 100%;
  border-top-left-radius: 60px;
  display: block;
}
.content1 {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.heros {
  align-self: stretch;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 90px;
  color: #20252a;
}
.fale-com-a {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  font-family: 'Sharon Sans Medium';
}
.conhea-os-benefcios {
  align-self: stretch;
  position: relative;
  line-height: 40px;
}
.utilizamos-tecnologia-de {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-family: 'Sharon Sans Regular';
}
.conhea-os-benefcios-de-usar-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.title-inner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 32px;
  color: #20252a;
  font-family: 'Sharon Display';
}
.title1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
.negociamos-os-melhores {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  font-weight: 700;
  font-family: 'Sharon Sans Medium';
}
.negociamos-os-melhores-preos-wrapper {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list-item {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.suporte-rpido-e-eficiente-pr-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.acompanhe-detalhadamente-e {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 700;
  font-family: 'Sharon Sans Medium';
}
.list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  font-size: 18px;
  color: #20252a;
}
.card-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.preencha-com-seus {
  align-self: stretch;
  position: relative;
  line-height: 32px;
}
.e-seja-atendido {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Sharon Sans Regular';
  color: #424a53;
}
.preencha-com-seus-dados-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 24px;
  font-family: 'Sharon Display';
}
.label-text {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.label-text-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input1 {
  flex: 1;
  backdrop-filter: blur(24px);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #bcc8d6;
  box-sizing: border-box;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  font-family: 'Sharon Sans';
}
.input {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input3 {
  flex: 1;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #bcc8d6;
  box-sizing: border-box;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  font-family: 'Sharon Sans';
}
.input-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.z-master2 {
  align-self: stretch;
  border-radius: 32px;
  background-color: #00a868;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 13px 24px;
}
.largeprimary-reversedisabled {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.largeprimaryactive {
  align-self: stretch;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: #fff;
}
.card-form {
  flex: 0.8415;
  border-radius: 24px;
  background-color: #fff;
  border: 2px solid #e6ecf2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px;
  gap: 24px;
  font-size: 16px;
  color: #20252a;
}
.card-item-parent {
  width: 1100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.section-content-form {
  align-self: stretch;
  background-color: #f7fafd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 80px 90px;
  font-size: 14px;
  color: #00734d;
}
.logo-icon {
  width: 96px;
  position: relative;
  height: 24px;
}
.pro-seu-negcio {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.planos {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 700;
  font-family: 'Sharon Sans Medium';
}
.fidelizao {
  width: 180px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.planos-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 14px;
  color: #fff;
}
.pro-seu-negcio-parent {
  width: 180px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.facilite-sua-rotina-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.frame-wrapper {
  width: 180px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pra-voc-que {
  width: 180px;
  position: relative;
  line-height: 18px;
  display: inline-block;
}
.ton-wrapper {
  width: 180px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  color: #fff;
}
.pra-voc-que-autnomo-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.mais-solues {
  width: 160px;
  position: relative;
  font-size: 12px;
  line-height: 18px;
  color: #919dab;
  display: inline-block;
}
.e-commerce {
  width: 160px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.mais-solues-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  font-size: 14px;
  color: #fff;
}
.frame-container {
  width: 180px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.blog-stone-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.por-que-stone-parent {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 14px;
  color: #fff;
}
.frame-wrapper1 {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.j-sou-cliente {
  width: 148px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.segurana-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 14px;
  color: #fff;
}
.institucional-parent {
  width: 150px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.frame-group {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  font-family: 'Sharon Sans';
}
.frame-parent {
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.logo-stoneco-icon {
  width: 88px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child {
  align-self: stretch;
  position: relative;
  background-color: #31383f;
  height: 1px;
}
.frame-item {
  align-self: stretch;
  position: relative;
  background-color: #00a868;
  height: 2px;
  overflow: hidden;
  flex-shrink: 0;
}
.stone-icon {
  width: 48px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.stone1 {
  position: relative;
  line-height: 14px;
}
.frame-parent1 {
  position: absolute;
  height: 100%;
  width: 23.08%;
  top: 0%;
  right: 76.92%;
  bottom: 0%;
  left: 0%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.stone-wrapper {
  position: absolute;
  height: 40%;
  width: 23.08%;
  top: 30%;
  right: 38.46%;
  bottom: 30%;
  left: 38.46%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.stone-icon2 {
  width: 48px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.stone-container {
  position: absolute;
  height: 40%;
  width: 23.08%;
  top: 30%;
  right: 0%;
  bottom: 30%;
  left: 76.92%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.component-1 {
  width: 208px;
  position: relative;
  height: 60px;
}
.component-1-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.instance-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-stoneco-parent {
  width: 1280px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 24px;
  text-align: center;
  font-size: 10px;
  color: #fff;
}
.footer {
  align-self: stretch;
  background-color: #20252a;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 90px;
  gap: 40px;
  font-size: 12px;
  color: #919dab;
}
.desktop {
  width: 100%;
  position: relative;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 16px;
  border-bottom: 1px solid #D5DEE8;
  color: #fff;
  font-family: 'Sharon Sans';
}

